@using Microsoft.AspNetCore.Http;
@model IEnumerable<BlogNET.Models.Category>

@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<button type="button" onclick="$('#CategoryModal').modal('show')" class="btn btn-primary">Kategori Ekle</button>

<table class="table table-hover">
    <thead>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col"></th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td>
                    <button class="btn btn-secondary" onclick="updateForm(@item.Id)" type="button">Güncelle</button>
                    <a class="btn btn-danger" onclick="$('#ConfirmModal').modal('show'); deleteForm(@item.Id);">Sil</a> @* TAG HELPER *@
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal" id="CategoryModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Buradan Kategori Eklenir :</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-group">
                        @*name = "Id" olarak değil de model gönderecek şekilde yap.*@
                        <input type="hidden" name="Id" id="Id" class="form-control">
                        <input type="text" name="Name" id="Name" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="clearForm()" data-dismiss="modal">KAPATT</button>
                    <button type="button" id="saveBtn" onclick="addCategory(); clearForm();" class="btn btn-primary" data-dismiss="modal">EKLEE</button>
                    <button type="button" id="updateBtn" onclick="updateCategory()" class="btn btn-primary" data-dismiss="modal">GÜNCELLEE</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal" id="ConfirmModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Silmeye Emin Misin?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Tıklamış olduğunuz Kategoriyi silinecek onaylıyor musunuz?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="deleteBtn" data-dismiss="modal">Silmeyi Onayla</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>


        $(() => clearForm())
        function updateForm(Id) {
            fetch('/Category/CategoryDetails?Id=' + Id) /*fetch() fonksiyonu ile sunucudan veri almak için bir GET isteği gönderir*/
                .then(res => res.json()) /*.then(res => res.json()) ifadesi, isteğin yanıtını JSON formatında ayrıştırmak i*/
                .then(res => {
                    $('#Id').val(res.id)
                    $('#Name').val(res.name)
                })
            $('#saveBtn').hide();
            $('#updateBtn').show();
            $('#CategoryModal').modal('show');
        }
        function clearForm() {
            $('#Id').val(null)
            $('#Name').val(null)
            $('#saveBtn').show();
            $('#updateBtn').hide();
        }
        function addForm() {
            $('#updateBtn').hide();
        }


        function updateCategory() {
            var name = document.getElementById("Name").value;

            if (name == "") {
                swal.fire({
                    icon: 'error',
                    title: 'Hata!',
                    text: 'Lütfen isim alanları doldurunuz.',
                    confirmButtonText: 'Tamam'
                });
            }

            $.ajax({
                type: "POST",
                dataType: 'json',
                url: "@Url.Action("UpdateCategory", "Category")",
                cache: false,
                data: {
                    Id: $("#Id").val(),
                    Name: $("#Name").val()
                },
                success: function (data) {
                    if (data) {  // data true dönen bir şey
                        Swal.fire('Category güncelleme islemi basarili')
                            .then(function () {
                                location.reload();
                            });
                    }
                    else {
                        swal.fire({
                            icon: 'error',
                            title: 'Hata!',
                            text: 'İsim güncellemede bir sorun oluştu',
                            confirmButtonText: 'Tamam'
                        }).then(function () {
                            $('#CategoryModal').modal('show');
                        });
                    }
                }
            });
        }

        function addCategory() {
            var name = document.getElementById("Name").value;

            if (name == "") {
                swal.fire({
                    icon: 'error',
                    title: 'Hata!',
                    text: 'Lütfen isim alanları doldurunuz.',
                    confirmButtonText: 'Tamam'
                }).then(function () {
                    $('#CategoryModal').modal('show');
                });
            }

            $.ajax({
                type: "post",
                dataType: 'json',
                url: "@Url.Action("AddCategory", "Category")",
                cache: false,
                data: { Name: name },
                success: function (data) {
                    if (data.result === "success") {  // data true dönen bir şey
                        Swal.fire('Kategori ekleme islemi basarili')
                            .then(function () {
                                location.reload();
                            });
                    }
                    else if(data.result === "same"){
                        Swal.fire('Aynı kategori ismi kaydedilemez.')
                            .then(function () {
                                location.reload();
                            });
                    }
                    else if (data.result === "error") {
                        swal.fire({
                            icon: 'error',
                            title: 'Hata!',
                            text: 'Hata oluştu',
                            confirmButtonText: 'Tamam'
                        }).then(function () {
                            $('#CategoryModal').modal('show');
                        });
                    }
                    else{
                        swal.fire({
                            icon: 'error',
                            title: 'Hata!',
                            text: 'Hata oluştu',
                            confirmButtonText: 'Tamam'
                        })
                    }
                }
                
            });
        }

        function deleteForm(Id) {
            $('#deleteBtn').click(function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("DeleteCategory", "Category")", // Silme işlemini gerçekleştiren Action metodunun URL'si
                    data: { id: Id }, // Silinecek kategorinin Id'sini gönderiyoruz

                    success: function (result) {
                        if (result) {
                            Swal.fire(Id + " Numaralı Kategori Silme İşlemi Başarılı.")
                                .then(function () {
                                    location.reload();
                                });
                        } else {
                            alert("Silme işlemi başarısız oldu: " + result.message);
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert("AJAX isteği başarısız oldu: " + errorThrown);
                    }
                });
            });
        }

    </script>
}
